<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>


<body>

//= blocks/header.html

<main>
    <div class="container">
        //= blocks/breadcrumbs.html
        <h3 class="h3-page-header">Выберите категорию</h3>
        <div class="card-list justify-space-start">
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/education.png" alt="">
                    <h4>Школы и детсады</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Очередь в детский сад</a></li>
                        <li><a href="#">Грубость преподавателя</a></li>
                        <li><a href="#">Денежные поборы</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/hospital.png" alt="">
                    <h4>Поликлиники, больницы</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Хамство,</a></li>
                        <li><a href="#">Нет врача на месте,</a></li>
                        <li><a href="#">Некачественное лечение</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/police.png" alt="">
                    <h4>Полиция</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Отказ в приёме заявления,</a></li>
                        <li><a href="#">Отказ в возбуждении дела,</a></li>
                        <li><a href="#">Неприезд полиции</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/mail.png" alt="">
                    <h4>Почта</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Потеря или задержка посылки,</a></li>
                        <li><a href="#">Очередь и хамство,</a></li>
                        <li><a href="#">Повреждение посылки</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/goods.png" alt="">
                    <h4>Товары и услуги</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Некачественые услуги,</a></li>
                        <li><a href="#">Некачественные товары,</a></li>
                        <li><a href="#">Продажа алкоголя ночью</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/bag.png" alt="">
                    <h4>Работодатели</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Незаконые увольнения,</a></li>
                        <li><a href="#">Задерживают зарплату,</a></li>
                        <li><a href="#">Не выплачен расчет</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>

            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/house.png" alt="">
                    <h4>Дом</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Очередь в детский сад</a></li>
                        <li><a href="#">Грубость преподавателя</a></li>
                        <li><a href="#">Денежные поборы</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/yard.png" alt="">
                    <h4>Двор</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Хамство,</a></li>
                        <li><a href="#">Нет врача на месте,</a></li>
                        <li><a href="#">Некачественное лечение</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/road.png" alt="">
                    <h4>Дороги</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Отказ в приёме заявления,</a></li>
                        <li><a href="#">Отказ в возбуждении дела,</a></li>
                        <li><a href="#">Неприезд полиции</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/auto.png" alt="">
                    <h4>Авто</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Потеря или задержка посылки,</a></li>
                        <li><a href="#">Очередь и хамство,</a></li>
                        <li><a href="#">Повреждение посылки</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/bank.png" alt="">
                    <h4>Банки</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Некачественые услуги,</a></li>
                        <li><a href="#">Некачественные товары,</a></li>
                        <li><a href="#">Продажа алкоголя ночью</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/city.png" alt="">
                    <h4>Город</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Незаконые увольнения,</a></li>
                        <li><a href="#">Задерживают зарплату,</a></li>
                        <li><a href="#">Не выплачен расчет</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/bus.png" alt="">
                    <h4>Общественный транспорт</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Незаконые увольнения,</a></li>
                        <li><a href="#">Задерживают зарплату,</a></li>
                        <li><a href="#">Не выплачен расчет</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
            <div class="category-card">
                <div class="category-card__header">
                    <img src="img/icon/other.png" alt="">
                    <h4>Другое</h4>
                </div>
                <div class="category-card__body">
                    <ul>
                        <li><a href="#">Незаконые увольнения,</a></li>
                        <li><a href="#">Задерживают зарплату,</a></li>
                        <li><a href="#">Не выплачен расчет</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                    <a class="text-muted" href="#">+ ещё 11 проблем</a>
                </div>
            </div>
        </div>
    </div>
</main>

//= blocks/footer.html

<script src='js/libs.min.js'></script>
<script src='js/main.js'></script>

<!-- Modal -->
//= blocks/modal-location.html

</body>
</html>