<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>


<body>

//= blocks/header.html

<main>
    <div class="container">
        //= blocks/breadcrumbs.html
        <h3 class="h3-page-header">Категории и жалобы</h3>
        <div class="m-b-20">
            <div>В этом каталоге представлен полный список категорий и жалоб.</div>
            <div>Выберите жалобу, заполните поля и решите свою проблему.</div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div class="main-search m-b-30">
                    <input type="text" class="form-control" placeholder="Введите название проблемы">
                    <button class="btn btn-primary"><img src="img/icon-search.png" alt=""></button>
                </div>

                <div class="panel-group panel-group_categories-list" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                    <img class="panel-heading__img" src="img/icon/goods.png" alt="">
                                    Товары и услуги
                                    <span class="panel__icon-toggle">
                                    <img src="img/icon-menu_up-big-blue.png" alt="">
                                </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Потеря или задержка посылки</a></li>
                                    <li><a href="#">Очередь и хамство</a></li>
                                    <li><a href="#">Повреждение посылки</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_2">
                                    <img class="panel-heading__img" src="img/icon/goods.png" alt="">
                                    Товары и услуги
                                    <span class="panel__icon-toggle">
                                    <img src="img/icon-menu_up-big-blue.png" alt="">
                                </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_2" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Потеря или задержка посылки</a></li>
                                    <li><a href="#">Очередь и хамство</a></li>
                                    <li><a href="#">Повреждение посылки</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_3">
                                    <img class="panel-heading__img" src="img/icon/goods.png" alt="">
                                    Товары и услуги
                                    <span class="panel__icon-toggle">
                                    <img src="img/icon-menu_up-big-blue.png" alt="">
                                </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_3" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Потеря или задержка посылки</a></li>
                                    <li><a href="#">Очередь и хамство</a></li>
                                    <li><a href="#">Повреждение посылки</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_4">
                                    <img class="panel-heading__img" src="img/icon/goods.png" alt="">
                                    Товары и услуги
                                    <span class="panel__icon-toggle">
                                    <img src="img/icon-menu_up-big-blue.png" alt="">
                                </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_4" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Потеря или задержка посылки</a></li>
                                    <li><a href="#">Очередь и хамство</a></li>
                                    <li><a href="#">Повреждение посылки</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_5">
                                    <img class="panel-heading__img" src="img/icon/goods.png" alt="">
                                    Товары и услуги
                                    <span class="panel__icon-toggle">
                                    <img src="img/icon-menu_up-big-blue.png" alt="">
                                </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_5" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Потеря или задержка посылки</a></li>
                                    <li><a href="#">Очередь и хамство</a></li>
                                    <li><a href="#">Повреждение посылки</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

//= blocks/footer.html

<script src='js/libs.min.js'></script>
<script src='js/main.js'></script>

<!-- Modal -->
//= blocks/modal-location.html

</body>
</html>