<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>


<body>

//= blocks/header.html

<main>
    <div class="container">

        //= blocks/breadcrumbs.html

        <div class="row">
            <div class="col-xs-8">
                <h3 class="m-b-20">Неприезд сотрудников полиции в Александровском</h3>
                <p class="m-b-30">Вы оказались в беде, а полиция не приехала на вызов? Вы не получили своевременную поддержку от правоохранительных органов и было совершено преступление? Это нельзя просто так оставить. Оставьте жалобу, и виновный понесет справедливое наказание. Время реагирования полиции на вызов строго регламентировано, давайте совместным и усилиями заставим соблюдать закон тех, кому это положено по статусу. Только вместе мы можем добиться справедливости.</p>
                <button class="btn btn-primary m-b-10">Решить проблему</button>

                <hr>

                <h4 class="m-t-30 m-b-20">Лента проблем по данной теме</h4>
                <div class="post block-shadow">
                    <div class="post__header">
                        <div class="post__header-info">
                            <img src="img/icon-user-circle-big.png" alt="">
                            <div>
                                <div><b>Иван Смирнов</b></div>
                                <div>34</div>
                                <div>Москва</div>
                            </div>
                        </div>
                        <div class="dropdown post__dropdown_actions pull-right clearfix">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="img/icon-menu_down.png" alt="">
                            </a>
                            <ul class="dropdown-menu dropdown-menu_custom dropdown-menu_center">
                                <li><a href="#">Действие</a></li>
                                <li><a href="#">Действие</a></li>
                            </ul>
                        </div>
                        <div class="post__header-date">28 октября 2018</div>
                    </div>
                    <div class="post__body">
                        <p>Человек, живущий в социуме, обязан соблюдать установленные для всех правила. Касается это и норм поведения соседей по жилым помещениям. Ст. 17 ЖК РФ гласит, что пользование жилым помещением осуществляется с учетом соблюдения прав и законных интересов проживающих в нем граждан, соседей, требований пожарной безопасности, санитарно-гигиенических, экологических и иных требований законодательства.</p>
                        <div class="text-center"><a href="#" class="text-light fs-12">Читать полностью...</a></div>
                    </div>
                    <div class="post__footer clearfix">
                        <div class="post__view-info">
                            <div class="post__view-info-item">
                                <img src="img/icon-eye.png" alt="">
                                <span class="post__view-info-value">1235</span>
                            </div>
                            <div class="post__view-info-item">
                                <img src="img/icon-bubble.png" alt="">
                                <span class="post__view-info-value">1</span>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm pull-right">Подписаться</button>
                    </div>
                </div>

                <div class="box block-shadow">
                    <div class="input-comment input-comment_main">
                        <div class="input-comment__body">
                            <div class="input-comment__field">
                                <img class="input-comment__icon" src="img/icon-user-circle.png" alt="">
                                <textarea name="" rows="3" class="form-control" placeholder="Оставить комментарий"></textarea>
                            </div>
                            <button class="btn btn-default btn-sm input-comment__btn-send"><span class="text-primary">Отправить</span></button>
                        </div>
                    </div>

                    <hr>

                    <ul class="comment-list">
                        <li>
                            //= blocks/comment.html
                            <ul>
                                <li>
                                    //= blocks/comment.html
                                    <ul></ul>
                                </li>
                                <li>
                                    //= blocks/comment.html
                                    <ul></ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            //= blocks/comment.html
                            <ul></ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="box p-lr-0 block-shadow m-b-20">
                    <h5 class="text-center"><strong>Причастные органы</strong></h5>
                    <ul class="nav nav-pills nav-stacked nav-pills_icon m-b-10">
                        <li>
                            <a href="#">
                                <img src="img/organ-pristavi.png" alt="">
                                <span>Госавтоинспекция МВД</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/organ-pristavi.png" alt="">
                                <span>Прокуратура</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/organ-prokuratura.png" alt="">
                                <span>Министерство Внутренних Дел</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="box p-lr-0 block-shadow">
                    <h5 class="text-center"><strong>Полезно знать</strong></h5>
                    <ul class="nav nav-pills nav-stacked m-b-10 fs-12">
                        <li>
                            <a href="#">
                                <u>Федеральный закон от 7 февраля 2011 г. "О Полиции"</u>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <u>Ст. 285 УК РФ "Злоупотребление должностными полномочиями"</u>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <u>Ст. 286 УК РФ превышение должностных полномочий</u>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <u>Статья 12. Обязанности полиции</u>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

//= blocks/footer.html

//= blocks/button-to_top.html

<script src='js/libs.min.js'></script>
<script src='js/main.js'></script>

<!-- Modal -->
//= blocks/modal-location.html

</body>
</html>